# Ativa um modo de apresentacao completamente offline.
EXPO_PUBLIC_DEMO_MODE=false

# Endereco base da API do SafeHome.
# Se voce abrir no Expo Go em um celular real, use o IP da maquina que esta rodando a API.
EXPO_PUBLIC_API_BASE_URL=http://SEU_IP_LOCAL:3333/api/v1
